<div class="section light-bg" id="about">
    <div class="container">
        <div class="section-title">
            <small>ABOUT US</small>
            <h3>We Build with Passion</h3>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Passionate</h4>
                                <p class="card-text">With the great talent we house, we believe we have adequate experience to handle your next huge project. Doing what we do with love is what drives us, without this, there is no us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-thumb-up gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Reliable</h4>
                                <p class="card-text">Whats better than satisfying services? We understand that, thats why we make it our obligation to give you satisfying services. We don't just beat deadlines, but we also deliver the quality deserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-wand gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Creative</h4>
                                <p class="card-text">We are not just about code. We help you think 10X, not just 10%. We put our imagination to work along with our experience to ensure we deliver a solution, nut just a product.  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pt-0">
    <div class="container">
        <div class="row pt-4" style="margin-top: 40px;">
            <div class="col-md-6">
                <div>
                    <img src="{{ site.baseurl }}/assets//images/perspective.png" alt="softdev" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6" style="text-align: justify;">
                <h2 class="mb-3">This is who we are</h2>
                <p class="light-font" style="font-size: 17px;" >Imarishwa Solutions is a software solutions provider for the corporate ecosystem. Since inception, we have provided solutions ranging from web application development to company branding and IT consultancies for clients across the corporate space in Kenya. Our approach is based on making it our business to understand our clients' business processes, working hand in hand with them in implementing proposed sustainable, cost effective, maintainable and scalable solutions adressing the loop holes.<br> Imarishwa is committed to improving the profitability of our customers through the use of leading-edge online technologies, delivered by knowledgeable and service-oriented Consultants. As more businesses realize the importance of the Internet to their continued success and growth, Imarishwa is ready to serve their needs with real e-business solutions. </p>
            </div>
        </div>
    </div>
</div>