<div class="section bg-gradient" id="contact">
	<div class="container">
		<div class="call-to-action">
			<div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
			<h2>We Are Waiting for that call</h2>
			<div class="text-centre">
				<p class="mb-2"> <span class="ti-location-pin mr-2"></span>
				4th Floor, The Citadel, 50 Muthithi Road, Westlands, Nairobi -Kenya
			</p>
		</div>
		<div class="text-centre">
			
			<div class=" d-block d-sm-inline-block">
				<p class="mb-2"><span class="ti-email mr-2"></span> <a class="mr-4">hello[at]imarishwa[.]com</span></a>
			</p>
		</div>
		<div class="d-block d-sm-inline-block">
			<p class="mb-0"><span class="ti-headphone-alt mr-2"></span> <a href="tel:+254721763066">+254 721 763 066</a></p>
		</div>
	</div>
	<p class="text-primary"><small><i>*Work Hours: 8:00 AM - 5:00 PM (MON - FRIDAY)* </i></small></p>
	<div class="text-center">
		<div class="social-icons">
			<a href="https://www.facebook.com/imarishwasolutions"><span class="ti-facebook"></span></a>
			<a href="#"><span class="ti-twitter-alt"></span></a>
			<a href="#"><span class="ti-instagram"></span></a>
		</div>
	</div>
</div>
</div>
</div>