<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Software, SAAS, Kenya, Startup, system development">
  <!-- Fonts Used -->
  <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
  <!-- Css -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
  <div class="sticky-container">
  <script>
  window.fbMessengerPlugins = window.fbMessengerPlugins || {
  init : function() { FB.init({ appId: "1678638095724206", xfbml: true, version: "v2.6" }); }, callable : [] };
  window.fbAsyncInit = window.fbAsyncInit ||
  function() { window.fbMessengerPlugins.callable.forEach(
  function( item ) { item(); } ); window.fbMessengerPlugins.init(); }; setTimeout(
  function() { (
  function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {
  return; }
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk')); }, 0);
  </script>
  </div>
</head>