<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Software, SAAS, Kenya, Startup, system development">
  <!-- Fonts Used -->
  <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
  <!-- Css -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
  <div class="fb-customerchat" page_id="815503341954197" theme_color="#1a345d" logged_in_greeting="Hi! We're ready to help you with your next project." logged_out_greeting="Hi! We're ready to help you with your next project."></div>
</head>