<header class="masthead" style="background-image: url('static/web/images/milku.jpg'); ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="section-title">
                    {{ post.title}}
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">Posted by &nbsp
                        <span class="user"><img class="mr-3 avatar rounded-circle" src="https://avatars2.githubusercontent.com/u/15284135?s=400&u=1f473b17d5861cfd1244ea3105a3b9899321bd67&v=4"> | <a href="https://github.com/Benedict-Mambo">BEN MAMBO</a></span>
                    on August 24, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>