<div class="section light-bg" id="services">
    <div class="container">
        <div class="section-title">
            <small>SERVICES</small>
            <h3>Passion Drives us in What We DO!</h3>
        </div>
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#software">Software Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#payments">Payments Integration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#design">Branding &amp Design</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="software">
                <div class="d-flex flex-column flex-lg-row">
                    <img src="{{ site.baseurl }}/assets/images/software.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    <div>
                        <h2>Let's build that solution together,</h2>
                        <p class="lead">Our main focus is building custom software applications on any scale, from small consultations, to robust projects. Our approach is based on building applications with focus of appropriate technology, great quality, maintainability, reduce time to market, and security.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="payments">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Receive your Payments, anywhere...</h2>
                        <p class="lead">Simplify your online payment processing integrating with the MPESA, Airtel and Equitel Payment. We also integrate international payment gate ways, paypal, mastercard, visa etc.</p>
                    </div>
                    <img src="{{ site.baseurl }}/assets/images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
            <div class="tab-pane fade" id="design">
                <div class="d-flex flex-column flex-lg-row">
                    <img src="{{ site.baseurl }}/assets/images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    <div>
                        <h2>Re-discover your brand</h2>
                        <p class="lead">There is more to design than just colors and shapes. Being unique is not just a matter of being different but having that magic no one else has. Working with us on your new outlook will give you the touch of elegance you deserve.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>